body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9c7dde;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul.left {
  display: flex;
}

nav ul.left li {
  margin-left: 20px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

nav ul li a.active {
  font-weight: bold;
}

main {
  padding: 20px;
}

.container {
  margin-bottom: 20px;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 10px;
}

.toggle-btn, .contrast-btn {
  margin-right: 10px;
}

footer {
  background-color: #9c7dde;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}



/* Ocultar seções inicialmente */
.hidden {
  display: none;
}

#transcription { white-space: pre-wrap; }

/* CSS Adicional para Layout */
.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container {
  flex-basis: calc(33.33% - 20px); /* 33.33% - margem direita */
  margin-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .container {
      flex-basis: calc(50% - 20px); /* 50% - margem direita */
  }
}
.hidden {
  display: none;
}

/* Estilos de contraste */
.high-contrast {
  background-color: #000000;
  color: #fff;
}

.black-and-white {
  background-color: #fff;
  color: #000;
}

.blue-contrast {
  background-color: #77b7fc;
  color: #fff;
}

.green-contrast {
  background-color: #6cd484;
  color: #fff;
}

.yellow-contrast {
  background-color: #f6dc8e;
  color: #000;
}

#contrastOptions {
  text-align: center;
}

#contrastOptions button {
  margin: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3 1fr);
  grid-template-areas: "mainContent sidebarContent";
  padding: 20px;
  flex: 1 0 auto;
}
.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: mainContent;
}
.categoryCard {
  width: 400px;
  height: 530px;
  border: 2px solid transparent;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.categoryCard:hover {
  border-color: black;
}

.mainCardImg {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.categoryCard button {
  display: block;
  margin: 10px auto;
  padding: 10px 15px;
  background-color: #9c7dde;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.categoryCard button:hover{
  background-color: #814af8;

}

#startButton {
  background-color: #9c7dde; /* Cor de fundo verde */
  color: white; /* Cor do texto branca */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 16px; /* Tamanho da fonte */
  border: none; /* Remover borda */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Alterar cursor ao passar por cima */
}

#startButton:hover {
  background-color: #814af8; /* Cor de fundo mais escura ao passar por cima */
}

.categoryCard p {
text-align: justify; /* Justificar o texto */
}

.container-wrapper {
display: flex;
justify-content: center;
}

/* Adicionei um ID ao contêiner principal */
#main-container {
max-width: 1200px; /* Defina a largura máxima conforme necessário */
width: 100%;
padding: 0 20px; /* Adicione algum espaço às margens laterais */
}


